<h2 class="mb-5">References</h2>
<ul>
  <li>
    <h6 class="text-danger">John Doe</h6>
    <p>
      Department Dean <br />
      Holy Angel University <br />
      JDoe123@gmail.com <br />
      (+63)9123452344
    </p>
  </li>
  <li>
    <h6 class="text-danger">Mary Sue</h6>
    <p>
      University Professor <br />
      Holy Angel University <br />
      MSue@gmail.com <br />
      (+63)9123452344
    </p>
  </li>
  <li>
    <h6 class="text-danger">Jane Doe</h6>
    <p>
      University Professor <br />
      Holy Angel University <br />
      JaneDoe@gmail.com <br />
      (+63)9123452344
    </p>
  </li>
</ul>
